/*Selector {
	Property: value;
}*/

/*ul 
	list-style: none;
	display: inline-block;
	font-size: 20px;
}*/

h2 {
	text-align: center;
	border: solid black;
	font-size: 50px
}

p {
	text-align: center;
	font-size:30px;
}

img {
	float: center;
}